.previous-posts {
    border: 2px solid lightgray;
    border-radius: 7.2px;
    height: 500px;
    overflow-y: scroll;
    margin-top: 50px;
}
.previous-posts-container {
    display: flex;
    border-bottom: 1px solid #ccc; /* Add a 1px solid border at the bottom */
    padding: 10px 0; /* Add some vertical spacing between each post */
    padding: 20px;
}
.previous-posts-container img {
    width: 150px;
    height: auto;
    border-radius: 7.2px;
}
.left-side-career {
    border: 2px solid lightgray;
    border-radius: 7.2px;
    padding: 20px;
    width: 100%;
}
.left-side-posts {
    border: 2px solid lightgray;
    border-radius: 7.2px;
    padding: 10px 0;
    margin-bottom: 50px;
}
.left-side-career img {
    width: 100%;
    height: auto;
}
.left-side-post-info img{
    width: 24px;
    margin-right: 5px;
}
.left-side-post-info {
    display: flex;
    justify-content: space-between;
}
.left-side-career button{
    border: 2px solid lightgray;
    border-radius: 7.2px;
    width: 200px;
    background-color: #fff;
    margin-left: 5px;
}
.category-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    border-bottom:1px solid #ccc;
}

.category-buttons button {
    background-color: #fff ;
    border: 1px solid #000;
    border-radius: 7.2px;
    margin: 5px;
    color: grey;
    font-weight: 600;
}

.category-buttons button.active {
    background-color: #00B401;
    color: #fff;
}
.search-bar {
    width: 50%;
    border: 1px solid #000;
    border-radius: 7.2px;
}
.search-bar input {
    width: 70%;
    border: none;
}
.search-bar button {
    width: 24px;
    background-color: transparent;
}
.pagination {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
   
}
.pagination button {
    margin: 10px 0px;
    width: 50px;
    margin-inline: 10px;
}
.pagination button.active {
    background-color: #00B401;
    color: #fff;
}
