@import url('https://fonts.cdnfonts.com/css/nunito-sans');
@media screen and (max-width: 768px) {
    .small-content-container{
        padding-left: 5px;
        padding-right: 5px;
    }
    p{
        font-size: 14px;
        font-family: 'Nunito Sans', sans-serif;
    }
}

.content-container{
    border-bottom: 1px solid #00B401;
    height: 50px;
}

.content{
    display: flex;
    justify-content: space-around;
}