*{
    margin: 0;
    box-sizing: border-box;
}
.ah{
    font-family: 'Inter', sans-serif;
    margin-left: 20px;
    
}
.about-head{
    display: flex;
    align-items: start;
    margin-left: 20px;
    padding-top: 2%;
    color: #00B401; /* Replace with your desired color */
}
.highlight{
    background-color: #00B401;
    width: 25px;
    height: 4px;
    margin-right: 10px;
}