/* Home.css */

h1{
    font-family: poppins;
    text-align: center;

}
h2{
    font-family: poppins;
    text-align: center;

}
/* Responsive styles for smaller screens*/
@media screen and (max-width: 768px) {
}
.colored-text {
    color: #00B401; /* Replace with your desired color */
}

