/* Home.css */

h1{
    font-family: poppins;
    font-weight: bold;
    text-align: center;
    margin-top: 3%;

}
/* Responsive styles for smaller screens*/
@media screen and (max-width: 768px) {
}
.colored-text {
    color: #00B401; /* Replace with your desired color */
}

