<!-- About Section -->
 <section id="about">
  <div class="about container1">
    <div class="col-left">
      <div class="about-img">
        <img src="./images/faqs.jpg" alt="img">
      </div>
    </div>
    <div class="col-right">
      <h1 class="section-title">Frequently Asked <span>Questions</span></h1>
      <!-- <h2>Front End Developer</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, velit alias eius non illum beatae atque
        repellat ratione qui veritatis repudiandae adipisci maiores. At inventore necessitatibus deserunt
        exercitationem cumque earum omnis ipsum rem accusantium quis, quas quia, accusamus provident suscipit magni!
        Expedita sint ad dolore, commodi labore nihil velit earum ducimus nulla quae nostrum fugit aut, deserunt
        reprehenderit libero enim!</p> -->
        <div class="faq-container">
          
          <!-- FAQ items -->
          <div class="faq-item">
              <h5 class="faq-question">
                  Question 1: What is an investment?
                  <button class="btn btn-link plus-minus-toggle" data-toggle="collapse" data-target="#faqCollapse1" aria-expanded="false" aria-controls="faqCollapse1"></button>
              </h5>
              <div id="faqCollapse1" class="collapse">
                  <div class="card-body">
                      Answer 1: An investment is...
                  </div>
              </div>
          </div>

          <div class="faq-item">
              <h5 class="faq-question">
                  Question 2: How can I start investing?
                  <button class="btn btn-link plus-minus-toggle" data-toggle="collapse" data-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2"></button>
              </h5>
              <div id="faqCollapse2" class="collapse">
                  <div class="card-body">
                      Answer 2: To start investing...
                  </div>
              </div>
          </div>

          <div class="faq-item">
            <h5 class="faq-question">
                Question 3: What is an investment?
                <button class="btn btn-link plus-minus-toggle" data-toggle="collapse" data-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3"></button>
            </h5>
            <div id="faqCollapse3" class="collapse">
                <div class="card-body">
                    Answer 3: An investment is...
                </div>
            </div>
        </div>

        <div class="faq-item">
          <h5 class="faq-question">
              Question 4: What is an investment?
              <button class="btn btn-link plus-minus-toggle" data-toggle="collapse" data-target="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4"></button>
          </h5>
          <div id="faqCollapse4" class="collapse">
              <div class="card-body">
                  Answer 4: An investment is...
              </div>
          </div>
        </div>

      <div class="faq-item">
        <h5 class="faq-question">
            Question 5: What is an investment?
            <button class="btn btn-link plus-minus-toggle" data-toggle="collapse" data-target="#faqCollapse5" aria-expanded="false" aria-controls="faqCollapse5"></button>
        </h5>
        <div id="faqCollapse5" class="collapse">
            <div class="card-body">
                Answer 5: An investment is...
            </div>
        </div>
      </div> 
       <!-- Add more FAQ items here -->
</div>
    </div>
  </div>
</section>
<!-- End About Section -->