@import url('https://fonts.cdnfonts.com/css/nunito-sans');
*{
  box-sizing: border-box;
}
/* Slideshow */

.leaderslideshow {
    overflow: hidden;
    margin-top: 30px;
    width: 100%;
  }
  
  .leaderslideshowSlider {
    white-space: nowrap;
    transition: ease 2000ms;
    
  }
  .leaderslide {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    height: 280px;
    width: 100%;
    padding: 10px; 
  }

.social-icons-container{
  margin-top: -20px;
  display: inline-flex;
  flex-direction: row;
  list-style: none;
}
.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width:30px;
  height: 30px;
  border-radius: 50%;
  border: 1px #00B401 solid;
  cursor: pointer;
}
.icon-container:hover{
  background-color: #00B401;
}
.linkedin-icon{
  background-image: url(/src/components/images/linkedin-green.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 18px;
  width: 18px;
}
.linkedin-icon:hover{
  background-image: url(/src/components/images/linkedin-white.png);
}
.twitter-icon{
  background-image: url(/src/components/images/twitter-green.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 16px;
  width: 16px;
}
.twitter-icon:hover{
  background-image: url(/src/components/images/twitter-white.png);
}
.instagram-icon{
  background-image: url(/src/components/images/instagram-green.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 18px;
  width: 18px;
}
.instagram-icon:hover{
  background-image: url(/src/components/images/instagram-white.png);
}
  /* Buttons */
  
  .leaderslideshowDots {
    text-align: center;
  }
  
  /* Center the image */
  .leaderslide img {
    display: inline;
    border-radius: 7.5px;
    width: 200px;
    height: auto;
    margin: 0 auto;
  }

  /* Style the text */
  .leader-name p {
    padding-top: 10px;
    color: black; /* Make the text white */
    text-align: start;
    font-size: 25px;
    font-family: poppins;
    font-weight: bold;
    margin: 0 auto;
    max-width: 100%; /* Set a maximum width for the text */
  }
  .leader-position{
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    text-align: start;
  }
  .leaderslideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
  }
  
  .leaderslideshowDot.active {
    background-color: #00B401;
  }
  /* Responsive styles for screens narrower than 768px */
@media (max-width: 768px) {
  .leaderslide{
    height: 210px;
  }
  .icon-container{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border: 1px #00B401 solid;
  }
  .linkedin-icon{
    height: 12.5px;
    width: 12.5px;
  }
  .twitter-icon{
    height: 12.5px;
    width: 12.5px;
  }
  .instagram-icon{
    height: 12.5px;
    width: 12.5px;
  }
  .leader-name p {
    color: black; /* Make the text white */
    font-size: 15px;
  }
  .leader-position p{
    font-size: 10px;
  }

  .leaderslide img {
    width: 120px;
    height: auto;
    border-radius: 6px;
  }
  .leaderslideshowDot {
    width: 15px;
    height: 15px;
  }
  .slide-block{
    padding: 10px;
  }
  }
.slide-block{
  border: 1px solid #00B401 ;
  padding: 10px;
  border-radius: 10px;
}
