@import url('https://fonts.cdnfonts.com/css/nunito-sans');
*{
  box-sizing: border-box;
}
/* Slideshow */
.leader-container{
  display: flex;
  flex-direction: row;

}
.leader-title{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: 16px;
  width: 50%;
}
.leaderslideshow {
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
  }
  
  .leaderslideshowSlider {
    white-space: nowrap;
    transition: ease 2000ms;
    
  }
  .leaderslide {
    display: inline-flex;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 10px; 
  }
  .slide-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
  }

.social-icons-container{
  display: inline-flex;
  flex-direction: row;
  list-style: none;
}
.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width:30px;
  height: 30px;
  border-radius: 50%;
  border: 1px #00B401 solid;
  cursor: pointer;
  color:#00B401;
}
.icon-container:hover{
  background-color: #00B401;
  color: white;
}

  /* Buttons */
  
  .leaderslideshowDots {
    text-align: center;
  }
  
  /* Center the image */
  .leaderslide img {
    display: inline;
    border-radius: 6px;
    width: 200px;
    height: auto;
    margin: 0 auto;
  }

  /* Style the text */
  .leader-name p {
    font-size: 25px;
    color: black; /* Make the text white */
    margin: 0 auto;
  }
  .leader-position p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    font-size: 18px;
  }
  .leaderslideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
  }
  
  .leaderslideshowDot.active {
    background-color: #00B401;
  }
  /* Responsive styles for screens narrower than 768px */
@media (max-width: 768px) {
  .leader-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .leader-title{
    width: auto;
    font-size: 12px;
  }
  .leaderslide{
    height: 210px;
  }
  .icon-container{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border: 1px #00B401 solid;
  }
  .leader-name p {
    color: black; /* Make the text white */
    font-size: 15px;
  }
  .leader-position p{
    font-size: 10px;
  }

  .leaderslide img {
    width: 120px;
    height: auto;
    border-radius: 6px;
  }
  .leaderslideshowDot {
    width: 15px;
    height: 15px;
  }
  .slide-block{
    padding: 10px;
  }
  }

