
.all-row-container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}
.item-row{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.item img{
    width: 32px;
    height: 32px;
}
.item{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05),0 6px 20px 0 rgba(0, 0, 0, 0.09);
    border: 1px solid white;
    border-radius: 10px;
    width: 250px;
    height: 150px;
    padding: 15px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item:hover{
    box-shadow: 0 4px 8px 0 #00b40089;
    transform: translate(5px,-5px);
}

@media screen and (max-width: 768px){
    .item:hover{
        box-shadow: 0 2px 4px 0 #00b40089;
        transform: translate(2px,-2px);
    }
    .item{
        font-size: 10px;
        width: 175px;
        height: 100px;
        padding: 5px;
    }
    .all-row-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 10px;
    }
    img{
        width: 24px;
        height: 24px;
    }
    .item-row{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}