@media screen and (max-width: 768px) {

}
.outer-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border: 1;
    border-radius: 50%;
    border-style: solid;
    border-color: #00B401;
    background-color: #00b4002c;
}
.image-container {
    background-image: url(/src/components/images/greenstar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
    
}
.paragraph-container h5{
    font-family: poppins;
    font-weight: medium;
}
.paragraph-container{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
.outer-container{
    border-right: 1px;
    border-style: solid;
    border-color: #00B401;
    border-bottom: none;
    border-top: none;
    border-left: none;
}