.slider {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 1.5s ease; /* Adjust the transition property */
}
@media screen and (min-width: 786px) {
  .slide img {
    width: 100%;
    height: 100%;
 }
}
@media screen and (max-width: 786px) {
  .slider {
    height: 40vh; /* Adjust the height as needed */
  }

  .slide img {
    width: 100%; /* Adjust the width to your desired smaller size */
    max-height: 60vh; /* Set a maximum height to maintain aspect ratio */
  }
}

.slide img {
  height: 100%;
}
.current {
  opacity: 1;
  transform: translateX(0);
}

.arrow {
  border: 2px solid white;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
}
.arrow:hover {
  background-color: #fff;
  color: #777;
}
.next {
  top: 50%;
  right: 1.5rem;
}
.prev {
  top: 50%;
  left: 1.5rem;
}
hr {
  height: 2px;
  background: white;
  width: 50%;
}
