
@import url('https://fonts.cdnfonts.com/css/nunito-sans');
.bg-image{
  background-position: center;
  background-image: url('../images/member.jpg');
  height: 350px;
  margin-bottom: -2%;
}
/* Responsive styles for screens narrower than 540px */
@media (max-width: 540px) {
.bg-image{
  height: 200px;
}


}
