@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
p{
    font-family: 'Inter',sans-serif;
    margin:15px;
    font-size: 20px;
    font-weight: 400;
    color:white;
}
.inside-container{
    padding:20px;
}
.colored-text {
    color: #00B401; /* Replace with your desired color */
}
.outside-container{
    background-color: #00b400f9;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 540px) {
    p{
        font-size: 25px;
    }
}
